
<div class="ui centered grid">
<div class="doubling two column row">
<article class="post">  
  <a href="/post/{{id}}">
    <div class="ui raised card">  
    <h3 class="centered header">{{title}}
      <span class="head-style">Posted by {{user.username}} on {{format_date created_at}} <br></span>      
    </h3>
      <div>
        {{content}}                  
      </div>  
       <div>
         
         <span id = "comments" class="right floated comments"><i class="comment"></i>{{comments.length}} {{format_plural "comment" comments.length}}</span>
       </div>        
  </div>
 </a>
</article>
</div>


</div>


{{!-- <div class="ui stackable grid container">
  <div class="column">
  <div class="ui cards">
    <div class="content">
        <div class="header">{{user.username}}</div>
        <div>
          {{title}}
        </div>
        <div class="description">
          <p>{{content}}</p>
        </div>
        <div class="meta">
          <a class="like">
            <i class="like icon"></i> {{post.vote_count}} 
          </a>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>  --}}