<div class="profile-page">
   <h4 class="card-header text-uppercase">My Profile</h4>
    <form id="profile" class="card-body">
      <div>
        <label class="form-label" for="profile-name">Name:</label>
        <input class="form-input-profile" type="text" id="profile-name" name="profile-name" autofocus="true" value="{{profile.name}}"/>
      </div>
      <div>
        <label class="form-label" for="profile-age">Age:</label>
        <input class="form-input-profile"type="text" id="profile-age" name="profile-age" value="{{profile.age}}"/>
      </div> 
      <div>
        <label class="form-label" for="profile-height">Height:</label>
        <input class="form-input-profile" type="text" id="profile-height" name="profile-height" value="{{profile.height}}" />
      </div>
      <div>
        <label class="form-label" for="profile-weight">Weight:</label>
        <input class="form-input-profile" type="text" id="profile-weight" name="profile-weight" value="{{profile.weight}}"/>
      </div>
      <div>
        <label class="form-label" for="profile-workout">Favorite Workout:</label>
        <input class="form-input-profile" type="text" id="profile-workout" name="profile-workout" value="{{profile.favorite_workout}}" />
      </div>
            <button type="submit" class="btn-save" id="edit-profile">Edit Profile!</button>  
    </form>
    
    
    <a href="/dashboard-list" class="form-a">back</a>
    
</form>


<script src="/javascript/edit-profile.js"></script>